a {
  color: #000;
}

a:hover, a:focus, a:active {
  color: #000;
}

body {
  font-family: 'Song Myung', serif;
  color: #000;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h3 {
  font-size: 1.4rem;
}

.btn {
  background-color: #546e7a;
  border-color: #546e7a;
  border-radius: 0 !important;
  color: white;
}

.btn:hover, .btn:active {
  background-color: #35454d;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 45, 78, 0.25);
}

#scrape:hover {
  cursor: pointer;
}

.close {
  opacity: 1;
}

.form-control:focus {
  background-color: #fff;
  border-color: #3f74ad;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(58, 110, 165, 0.25);
}

.jumbotron {
  background: url("../img/pattern.png");
  border-radius: 0 !important;
}

.jumbotron h1 {
  color: #fff;
}

.img-fluid {
  width: 100% !important;
  max-width: 300px !important;
}

.view-note, .create-note,
.remove-article {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .view-note, .create-note,
  .remove-article,
  .create-note,
  .remove-article {
    width: auto;
  }
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #354a55;
  background: -moz-linear-gradient(left, #354a55 10%, rgba(53, 74, 85, 0) 42%);
  background: -webkit-linear-gradient(left, #354a55 10%, rgba(53, 74, 85, 0) 42%);
  background: -o-linear-gradient(left, #354a55 10%, rgba(53, 74, 85, 0) 42%);
  background: -ms-linear-gradient(left, #354a55 10%, rgba(53, 74, 85, 0) 42%);
  background: linear-gradient(to right, #354a55 10%, rgba(53, 74, 85, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #354a55;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
